/* purgecss start ignore
@tailwind base;
@tailwind components;
/* purgecss end ignore */
/* @tailwind utilities; */

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_locomotive.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

a.nav::after {
  @apply absolute bottom-0 block w-full bg-primary;
  content: '';
  height: 2px;
  transform: translateX(-101%);
}
a.nav:hover::after {
  transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
  transform: translateX(0);
}
a.nav.animate-out::after {
  transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
  transform: translateX(100%);
}

code {
  @apply inline px-2 py-3 font-mono text-sm leading-loose bg-gray-100;
}

pre code {
  @apply block p-4 bg-black rounded;
}

.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
  }
  .cursor__inner {
    fill: #f32015;
    stroke: #f32015;
    stroke-width: 1px;
    opacity: 0.3;
  }
}

span span {
  display: inline-block;
  white-space: pre-wrap;
}
